```
# Dependencies
node_modules/

# Build artifacts
dist/

# Environment
.env
.env.local
.env.*

# Editors
.vscode/
.idea/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Coverage
coverage/
htmlcov/
.coverage

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.pytest_cache/
.hypothesis/

# Compression
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

# Java
*.class
*.jar
*.war
*.ear
*.jsp
target/
.gradle/

# C/C++
*.o
*.a
*.obj
*.out
*.exe
*.dll
*.so
*.dylib

# Go
*.o
*.a
*.out
*.so
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ruby
*.gem
*.rbc
*.sass-cache
capybara-*.html
.rspec
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

# Rust
Cargo.lock
*.rlib
target/

# .NET
*.dll
*.exe
*.pdb
*.mdb
*.exe.config
*.userprefs
*.user
*.aps
*.ncb
*.obj/
*.sln.cache
*.suo
packages/
[Bb]in/
[Oo]bj/
[Tt]emp/
[Tt]emporary[Tt]est[Tt]riggers/
[Dd]eploy[Tt]arget[Pp]aths/
[Ll]og/
[Ll]ogs/
[Ll]og[Ff]iles/
*.nupkg
[Nn]uget/
[Nn]uget.[Cc]onfig
[Ee]ntities.xml
[Ss]ervice.[Cc]onfiguration
[Oo]rchard/[Ll]ogs/
[Oo]rchard/[Tt]emp/
[Oo]rchard/[Dd]ata/
[Oo]rchard/[Cc]ore/[Bb]in/
[Oo]rchard/[Cc]ore/[Oo]bj/
[Oo]rchard/[Cc]ore/[Tt]emp/
[Oo]rchard/[Cc]ore/[Dd]eploy/
[Oo]rchard/[Cc]ore/[Ll]ogs/
[Oo]rchard/[Cc]ore/[Tt]emporary[Tt]est[Tt]riggers/
[Oo]rchard/[Cc]ore/[Dd]eploy[Tt]arget[Pp]aths/
[Oo]rchard/[Cc]ore/[Ll]og/
[Oo]rchard/[Cc]ore/[Ll]ogs/
[Oo]rchard/[Cc]ore/[Ll]og[Ff]iles/
[Oo]rchard/[Cc]ore/*.nupkg
[Oo]rchard/[Cc]ore/[Nn]uget/
[Oo]rchard/[Cc]ore/[Nn]uget.[Cc]onfig
[Oo]rchard/[Cc]ore/[Ee]ntities.xml
[Oo]rchard/[Cc]ore/[Ss]ervice.[Cc]onfiguration

# PHP
*.phar
.php_cs
.php_cs.dist
phpunit.xml
phpunit.xml.dist
.travis.yml
.codesniffer.conf
.php_cs.cache
.php_history
.php_errors

# Perl
*.al
*.bs
*.ix
*.plc
*.pmc
*.pod
blib/
Build/
_build/
cover_db/
inc/
nytprof.out
pm_to_blib
*.tar.gz
.lwpcookies
Makefile
Makefile.old
pm_to_blib
*.o
*.a
*.so

# Objective-C
*.hmap
*.ipa
*.dSYM/
*.dSYM.zip
*.mobileprovision
*.xcodeproj/
*.xcworkspace/
*.xcconfig
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.perspective
*.glade
*.pidb
*.userprefs
*.sln.docstates
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
*.pod
*.tcl
*.tk
*.exp
*.imp
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.m
*.oct
*.sci
*.sce
*.tst
*.sln
*.vcxproj
*.vcproj
*.vcproj.*
*.vcxproj.*
*.filters
*.sdf
*.opensdf
*.userosscache
*.suo
*.user
*.aps
*.ncb
*.o
*.obj
*.o.d
*.obj.d
*.cmd.o
*.cmd.obj
*.cmd.o.d
*.cmd.obj.d
*.gcda
*.gcno
*.gcov
*.profdata
*.dyn_o
*.dyn_obj
*.bundle
*.dylib
*.so
*.a
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.sys
*.img
*.iso
*.bin
*.rom
*.dat
*.dmg
*.toast
*.vcd
*.tcsh
*.csh
*.pl
*.pm
......
```